/** 
 * WebDLMon Stylesheet
 * --------------------
 * Content
 * ~~~~~~~~
 * 1) App Regions
 * 2) Warning Classes
 */

article.celled {
	background: none;
}

body, #app {
	background: #ecf0f1;
	font-family: Source Sans Pro;
	font-size: .9em;
}

#app .row:before, #app .row:after {
	content: normal;
}

#app p {
	max-width: 40em;
	color: #2c3e50;
	float: right;
	margin: 0 0 15px 0;
	line-height: 1.5em;
}

#app table {
	width: 100%;
}

#app tbody tr:hover {
	background: #ddd !important;
}

#app [data-field], .info {
	cursor: pointer;
}

#region-menu .label {
	display: none;
}

.ui.overview.segment {
	width: 130px;
	float: left;
	margin: 15px !important;
}
.overview .ui.inverted.segment {
	background: #555;
}

.hidden {
	display: none;
}

.offcolor {
	color: #2c3e50;
}

#all-graph {
	padding: 0;
}

#page-header #page-title{
	display: none;
}

/** 
 * App Regions
 */
#page-title {
	font-family: Ubuntu;
	color: #1abc9c;
	font-size: 3em;
	text-transform: uppercase;
	float: left;
	display: inline;
	text-decoration: none;
	text-shadow: 1px 1px #aaa;
	margin: 0;
}
#app {
	width: 95%;
	margin: 15px auto;
}

#content {
	width: 100%;
	float: left;
}

#content th {
	padding: 2px;
}

#region-data {
	overflow: auto;
}

.ui.modal {
	width: auto;
}

.right.graph {
	width: 300px;
}
.right.graph .segment {
	min-height: 200px;
}

#spinner {
	width: 200px;
	height: 200px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 15px;
	background: rgba(0, 0, 0, 0.8);
}

.graph #spinner {
	top: 200px;
	right: 75px;
	bottom: auto;
	left: auto;
	border: none;
	background: none;
}

@media screen and (max-width: 1600px) and (min-width: 1330px) {
	#region-data {
		font-size: 12px;
	}
	#content td, #content .huge th {
		padding: 2px;
	}
}

@media screen and (max-width: 1329px) and (min-width: 1060px) {
	#region-data {
		font-size: 10px;
	}
	#content td, #content .huge th {
		padding: 1px;
	}
}

@media screen and (max-width: 1059px) and (min-width: 860px) {
	#region-data {
	 	font-size: 9px;
	 }
	 #content td, #content .huge th {
	 	padding: 0;
	 }
}