<div class="header"><%= id %></div>
	<div class="content">
		<div class='left'>
			<div class='ui very relaxed divided list'> 
				<div class='item'>
					<span class='header'>Target</span>
					<span class='right floated'><%= target %></span>
				</div>
				<div class='item'>
					<span class='header'>Version</span>
					<span class='right floated'><%= ver %></span>
				</div>
				<div class='item'>
					<span class='header'>Runtime</span>
					<span class='right floated'><%= rtm %></span>
				</div>
				<div class='item'>
					<span class='header'>Host</span>
					<span class='right floated'><%= hostname %></span>
				</div>
				<div class='item'>
					<span class='header'>Cmdorb</span> 
					<span class='right floated'><%= orbc %></span>
				</div>
				<div class='item'>
					<span class='header'>model</span>
					<span class='right floated'><%= model %></span>
				</div>
				<div class='item'>
					<span class='header'>Sn</span>
					<span class='right floated'><%= sn %></span>
				</div>
				<div class='item'>
					<span class='header'>Ptag</span>
					<span class='right floated'><%= pt %></span>
				</div>
				<div class='item'>
					<span class='header'>Nchan</span>
					<span class='right floated'><%= nc %></span>
				</div>
				<div class='item'>
					<span class='header'>Nrb</span>
					<span class='right floated'><%= nrb %></span>
				</div>
				<div class='item'>
					<span class='header'>Trb</span>
					<span class='right floated'><%= trb %></span>
				</div>
				<div class='item'>
					<span class='header'>11(gp24)</span>
					<span class='right floated'><%= gp24 %></span>
				</div>
				<div class='item'>
					<span class='header'>12(opt)</span>
					<span class='right floated'><%= opt %></span>
				</div>
				<div class='item'>
					<span class='header'>13(dlt)</span>
					<span class='right floated'><%= dlt %></span>
				</div>
				<div class='item'>
					<span class='header'>Lat</span>
					<span class='right floated'><%= lat %></span>
				</div>
				<div class='item'>
					<span class='header'>Lon</span>
					<span class='right floated'><%= lon %></span>
				</div>
			</div>
		</div>
		<div id='all-graph' class='right ui segment graph'>
			<!-- Graph gets rendered here -->
		</div>
	</div>
</div>