<thead>
	<tr>
		<th data-target='id' title='logger id'>name</th>
		<th data-target='dt' title='Digitizer temperature.'>temp</th>
		<th data-target='dv' title='Digitizer voltage.'>volt</th>
		<th data-target='da' title='Digitizer current.'>amp</th>
		<th data-target='dlt' title='Data latency - Age of last data packet sample received.'>dlt</th>
		<th data-target='lcq' title='Percent clock quality'>lcq</th>
		<th data-target='dr' title='Input & output data rate in bits per second.'>dr</th>
		<th data-target='br24' title='Total number of bytes read in last 24 hours.'>br24</th>
		<th data-target='rtm' title='Running time since current connection was established.'>runtim</th>
		<th data-target='gp24' title='data gaps in last 24 hours.'>gp24</th>
		<th data-target='gp1' title='data gaps in last 1 hour.'>gp1</th>
		<th data-target='nr24' title='Datalogger reboots in last 24 hours.'>nr24</th>
		<th data-target='pkse' title='Status latency - Age of last status packet.'>slt</th>
		<th data-target='tput' title='Thruput as a ratio of seconds read to the real-time clock.'>tp</th>
		<th data-target='ce' title='Communication efficiency as a percentage of processed to read + missed packets.'>cne</th>
		<th data-target='pb' title='Percent of packet buffer full.'>bufr</th>
		<th data-target='nl24' title='comm link cycles in last 24 hours'>nl24</th>
		<th data-target='np24' title='POCs received in last 24 hours'>np24</th>
		<th data-target='ni24' title='datalogger ip-address changes in last 24 hours'>ni24</th>
		<th data-target='bw24' title='Total number of bytes written in last 24 hours'>bw24</th>
		<th data-target='meme' title='buffer memory error'>meme</th>
		<th data-target='clt' title='Clock latency - Age of last GPS clock update.'>cltncy</th>f
		<th data-target='gps' title='GPS position fix quality'>gps</th>
		<th data-target='cld' title='Clock drift from true'>cld</th>
		<th data-target='gpss' title='GPS status'>gpss</th>
		<th data-target='clq' title='Clock status.'>pll</th>
		<th data-target='elev' title='GPS reported elevation.'>elev</th>
	</tr>
</thead>
<tbody>
	<!-- Rows go here -->
</tbody>